################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CardGame/obj
/CardGame/bin/Debug/net8.0
/CardGame/Board.cs
